<template>
  <q-page class="flex flex-center">
    <img
      alt="Quasar logo"
      src="~assets/logo-v.png"
    >
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>
